<script>
    /*
       * LYQ
       * 业绩管理列表
       * 2018/1/18
       *
       * */
    "use strict";
    app.controller("achievementListCtrl",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$stateParams",
            "$filter",
            function($rootScope, $scope, $http, $stateParams, $filter){

                //状态栏
                $scope.states    = [];
                $scope.link = "";
                $scope.list = [];
                $scope.searchInfo = {
                    stateCode : "ENABLED"
                };

                //设置页数
                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 1,
                    num_page: 1,
                    total_page: 1
                };


                $scope.getStates = function () {
                    $http.get("/rest/roleStates")
                        .success(function (resResult) {

                            $scope.states = resResult._embedded.roleStates;

                        });
                };

                $scope.getStates();

                //获取当前状态
//                $scope.state_code = "ENABLED";

                $scope.getList = function (page) {

                    //传递参数 状态，条数，页码
                    $http({
                        method: "POST",
                        url :  "dafeng/team/objective?size=15&page=" + page,
                        data: $scope.searchInfo

                    }).success(function(resResult){

                        $scope.list = resResult.data.teams;

                        $scope.pageList = {
                            size: resResult.data.page.size,
                            total_elements: resResult.data.page.totalElements,
                            current_page: resResult.data.page.number === 0 ? 0 : resResult.data.page.number,
                            num_page: resResult.data.page.totalPages,
                            total_page: resResult.data.page.totalPages
                        };

                        if ($scope.list.length > 0) {
                            $rootScope.setPaginator("#"+ $scope.entity_key +"_list_paginator", $scope.pageList, $scope.getList);
                        }
                    })
                };
                $scope.getList(0);

                /*
                * 清空信息
                * */
                $scope.clearSearch = function(){
                    $scope.searchInfo = {
                        stateCode : "ENABLED"
                    };
                    $scope.getList(0);
                };
            }
        ]
    );
</script>


<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="achievementListCtrl">
    <!-- column -->
    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="wrapper b-b b-light clearfix">
                <div>
                    <div class="w inline m-r">
                        <input type="text"
                               id="teamNameInput"
                               class="form-control"
                               placeholder="请输入团队名称"
                               ng-model="searchInfo.label"
                               autocomplete="off">
                    </div>
                    <div class="inline">
                        <button type="button" class="btn btn-primary m-r" ng-click="getList(0)">
                            <span>查询</span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="clearSearch()">
                            <span>清除</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-if="list.length > 0">
                                    查询结果
                                </div>
                                <div class="panel-heading" ng-if="list.length < 1">
                                    暂无数据！
                                </div>
                                <div class="table-responsive" ng-if="list.length > 0">
                                    <table class="table table-hover b-t b-light">
                                        <thead>
                                            <tr>
                                                <th>团队名称</th>
                                                <th>团队队长</th>
                                                <th>联系电话</th>
                                                <th>团队车险总业绩（万元）</th>
                                                <th>团队非车险总业绩（万元）</th>
                                                <th ng-if="state_code !=='DELETED'">详情</th>
                                                <!--<th  ng-if="state_code==='ENABLED' || state_code==='CREATED'">权限设置</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in list">
                                            <td class="v-middle">
                                                {{ item.label ? item.label : "暂无"}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.contactName ? item.contactName : "暂无"}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.contactPhone ? item.contactPhone : "暂无"}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.sumAutoCompletion ? ((item.sumAutoCompletion/10000) | number : 2) : "0"}}
                                            </td>
                                            <td class="v-middle">
                                                {{ item.sumLifeCompletion ? ((item.sumLifeCompletion/10000) | number : 2) : "0"}}
                                            </td>
                                            <td class="v-middle">
                                                <button class="btn btn-xs btn-info"
                                                        id="passBtn"
                                                        ui-sref="workflowEntity.home.profile.info({id:item.id})">
                                                    详情
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper b-t b-light clearfix">
                            <ul id="{{ entity_key }}_list_paginator" style="margin:2px 0;float: right;"  ng-show="list.length>0"></ul>
                            <small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">总共 {{ pageList.total_elements }} 条</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
</div>
<!-- /hbox layout -->