<script type="text/javascript">
    app.controller('customerInfoCtrl',
        [
            "$rootScope",
            "$stateParams",
            "$scope",
            "$http",
            function($rootScope,$stateParams,$scope,$http){
                $scope.gradeText=['普通用户','粉丝']
                var id = $stateParams.id;


                $scope.init = function () {
                    $scope.acceptanceSearch ={
                        customerId: id,
                        orderId: "",
                        insuranceCompanyName: "",
                        licenseNumber: "",
                        ownerName: ""
                    }
                };
                $scope.init();
                //设置页数
                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 1,
                    num_page: 1,
                    total_page: 1
                };


                //承保列表
                $scope.getAcceptance = function (page) {
                    $http({
                        method:'POST',
                        url:'/dafeng/searchInsuranceResultById?size=15&page='+page,
                        data: $scope.acceptanceSearch
                    }).success(function(response){
                        console.log(response);
                        $scope.list=response.insuranceResults;

                        $scope.pageList = {
                            size: response.page.size,
                            total_elements: response.page.totalElements,
                            current_page: response.page.number,
                            num_page: response.page.totalPages,
                            total_page: response.page.totalPages
                        };

                        if ($scope.list.length > 0) {
                            $rootScope.setPaginator("#acceptance_list_paginator", $scope.pageList, $scope.getAcceptance);
                        }
                    });
                };
                $scope.getAcceptance(0);

                //清除搜索
                $scope.clearSearch = function () {
                    $scope.init();
                    $scope.getAcceptance(0);

                };
            }
        ]
    );

</script>
<div ng-controller="customerInfoCtrl">
    <div class="wrapper">
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="list.length < 1">
                暂无数据！
            </div>
            <div class="wrapper-md b-b clearfix" style="padding:11.5px 20px;" ng-if="list.length>0">
                <div class="font-thin h4">
                    <div>
                        <form class="clearfix">
                            <div>
                                <div class="pull-left m-r winline">
                                    <input type="text"
                                           class="form-control"
                                           id="acceptance_orderID"
                                           placeholder="请输入出单单号"
                                           ng-model="acceptanceSearch.orderID">
                                </div>
                                <div class="pull-left m-r winline">
                                    <input type="text"
                                           class="form-control"
                                           id="acceptance_insuranceCompany"
                                           placeholder="请输入投保公司名称"
                                           ng-model="acceptanceSearch.insuranceCompany">
                                </div>
                                <div class="pull-left m-r winline">
                                    <input type="text"
                                           class="form-control"
                                           id="acceptance_license"
                                           placeholder="请输入车牌"
                                           ng-model="acceptanceSearch.license">
                                </div>
                                <div class="pull-left m-r winline">
                                    <input type="text"
                                           class="form-control"
                                           id="acceptance_ownerName"
                                           placeholder="请输入车主"
                                           ng-model="acceptanceSearch.ownerName">
                                </div>
                            </div>

                            <div class="pull-left m-r inline">
                                <button type="button" class="btn btn-primary" ng-click="getAcceptance(0)">
                                    <span>查询</span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="clearSearch()">
                                    <span>清除</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-if="list.length > 0">
                <table ng-if="list.length>0" class="table table-hover b-t b-light">
                    <caption style="font-weight:900;font-size:20px;">{{listType}}</caption>
                    <thead>
                    <tr>
                        <th>出单单号</th>
                        <th>商业保险单号</th>
                        <th>交强险保单号</th>
                        <th>投保公司</th>
                        <th>车牌</th>
                        <th>车主</th>
                        <th>商业保险费</th>
                        <th>交强保险费</th>
                        <th>总保费</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in list">
                        <td class="v-middle">{{item.data.orderId}}</td>
                        <td class="v-middle">{{item.data.biPolicyNo}}</td>
                        <td class="v-middle">{{item.data.ciPolicyNo}}</td>
                        <td class="v-middle">{{item.offerResult.insuranceCompanyName}}</td>
                        <td class="v-middle">{{item.data.licenseNumber}}</td>
                        <td class="v-middle">{{item.submitProposal.ownerName}}</td>
                        <td class="v-middle">{{item.offerResult.originalPrice}}</td>
                        <td class="v-middle">{{item.offerResult.originalForcePrice}}</td>
                        <td class="v-middle">{{item.offerResult.sumPrice | myParseFloat}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wrapper b-t b-light clearfix">
            <ul id="acceptance_list_paginator" style="margin:2px 0;float: right;" ng-show="list.length>0"></ul>
            <small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">总共 {{ pageList.total_elements }} 条</small>
        </div>
    </div>
</div>