<script>
    app.controller("createEnquiryProfileCtrl",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$resource",
            "$stateParams",
            "$state",
            "$filter",
            function ($rootScope, $scope, $http, $resource, $stateParams, $state, $filter) {

                $scope.state_code = $stateParams.state_code;

                console.log($stateParams.state_code);

                $scope.id = $stateParams.id;

                $scope.errorInfo = null;

                $scope.getProfile = function () {

                    $http.get("/rest/createEnquiries/" + $scope.id).success(function(resResult){
                        console.log(resResult)
                        $scope.createList = resResult;
                        console.log($scope.createList)
                    })

                    //查询询价状态
                    $http.get("/rest/createEnquiries/" + $scope.id +"/state").success(function(resResult){
                        $scope.createState = resResult;
                    })

                    $http.get("/rest/createEnquiries/" + $scope.id + "/offerResult").success(function (resResult) {

                        $scope.profileList = resResult._embedded.offerResults;
                        angular.forEach($scope.profileList,function(val,index){

                        });


//                        angular.forEach($scope.profileList,function(val,index){
//                            switch(val.data.result.state){
//                                case 1:
//                                    $scope.profileState = "询价中";
//                                    break;
//                                case 2:
//                                    $scope.profileState = "全部";
//                                    break;
//                                case 3:
//                                    $scope.profileState = "询价取消";
//                                    break;
//                                case 4:
//                                    $scope.profileState = "询价过期";
//                                    break;
//                            }
//
//                            if(val.errorMsg.code !== "success"){
//                                $scope.errorInfo = $resultInfo.message;
//                            }
//                        })

                    });
                };
                $scope.getProfile();


            }
        ]
    );

</script>

<div class="vbox bg-white" ng-controller="createEnquiryProfileCtrl">
    <div class="wrapper-md b-b b-light clearfix">
        <!--<button class="pull-left btn btn-md btn-primary">-->
            <!--<i class="fa fa-plus">取消询价</i>-->
        <!--</button>-->
        <div class="font-thin h4 pull-left" style="padding: 8.5px 0">询价详情</div>
    </div>
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>