<script>
    "use strict";
    /*
     *创建人：沈小艳
     *创建时间：2017/08/03
     *个人法院判决简项
     * */
    app.controller('individualInvestmentCheck', ['$scope', function ($scope) {
        //没有接口 自己模拟的数据
        $scope.mockData =
            {
                idCard: "341623199405284821",
                timeStyle:[
                    {
                        sheanType:"aa",
                        sheanCla:"ee",
                        sheanClass:"qq"
                    },
                    {
                        sheanType:"11",
                        sheanCla:"66",
                        sheanClass:"88"
                    }
                ],
                timeType:[
                    {
                        sheanType:"1",
                        sheanCla:"2",
                        sheanClass:"3"
                    },
                    {
                        sheanType:"4",
                        sheanCla:"5",
                        sheanClass:"6"
                    }
                ],
                timeData:[
                    {
                        sheanType:"1",
                        sheanCla:"2",
                        sheanClass:"3"
                    },
                    {
                        sheanType:"4",
                        sheanCla:"5",
                        sheanClass:"6"
                    }
                ]
            };
        //数据初始化
        $scope.info = {
            idCard: "341623199405284821"

        };

        //结果与样例的切换初始化
        $scope.resultSwitch = false;

        //重置数据
        $scope.resetInfo = function () {
            $scope.info.idCard = '';
            $scope.resultSwitch = false;
        };


        //提交
        $scope.submitInfo = function (myForm) {


            //数据信息格式错误时阻止表单提交
            if (myForm.idCard) {
                myForm.idCard.$dirty = true
            }

            if (!myForm.$valid) {
                $scope.resultSwitch = false;
                return
            }


            if($scope.info.idCard === $scope.mockData.idCard){
                $scope.resultSwitch = true;
                console.log('aaa')
            }



        };

    }]);
</script>
<div class="vbox" ng-controller="individualInvestmentCheck">
    <div class="wrapper b-b">
        <div class="font-thin h4">个人信息查询</div>
    </div>
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div class="wrapper-md">
                    <div class="panel panel-info input-panel" style="margin-bottom: 0">
                        <div class="panel-heading" style="font-size: 16px">个人投资核查</div>
                        <div class="panel-body">
                            <form name="myForm"  method="post" class="form-horizontal newfenye">
                                <div class="form-group validate validate-name">
                                    <label class="col-sm-4 col-md-2 control-label"><span style="color: #ff0000">*</span>身份证号：</label>
                                    <div class="col-sm-8 col-md-4">
                                        <input type="text" ng-model="info.idCard" name="idCard" class="form-control" ng-required="true" pattern="(^\d{15}$)|(^\d{17}([0-9]|X)$)">
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align: left" ng-show="myForm.idCard.$dirty && myForm.idCard.$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.idCard.$error.required">身份证号不能为空</span>
                                        <span style="color: #ff0000" ng-show="myForm.idCard.$error.pattern">身份证号格式错误</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-md-offset-2 col-sm-8" style="padding-left: 20px">
                                        <button type="button"  class="btn btn-info" ng-click="submitInfo(myForm)">提交</button>
                                        <button type="button"  class="btn btn-info" ng-click="resetInfo()">重置</button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> 生成PDF</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" ng-show="!resultSwitch" style="width:100%; padding:0 20px 0 20px;">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                            <span style="color: red;">样例</span>
                        </div>
                        <div>
                            <table class="table-border-style">
                                <tr><th colspan="2" style="background-color: #f6f8f8">企业股东信息</th></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>查询人姓名</td><td>张三</td></tr>
                                <tr><td>企业(机构)名称</td><td>北京***科技有限公司</td></tr>
                                <tr><td>注册号</td> <td>110108018683108</td> </tr>
                                <tr><td>企业(机构)类型</td> <td>有限责任公司(自然人投资或控股)</td> </tr>
                                <tr><td>注册资本(万元)</td> <td>100.000000</td> </tr>
                                <tr><td>注册资本币种</td> <td>人民币</td> </tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">企业法人信息</th></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>查询人姓名</td><td>张三</td></tr>
                                <tr><td>企业(机构)名称</td><td>北京***科技有限公司</td></tr>
                                <tr><td>注册号</td> <td>110108018683108</td> </tr>
                                <tr><td>企业(机构)类型</td> <td>有限责任公司(自然人投资或控股)</td> </tr>
                                <tr><td>注册资本(万元)</td> <td>100.000000</td> </tr>
                                <tr><td>注册资本币种</td> <td>人民币</td> </tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">企业主要管理信息</th></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>查询人姓名</td><td>张三</td></tr>
                                <tr><td>企业(机构)名称</td><td>北京***科技有限公司</td></tr>
                                <tr><td>注册号</td> <td>110108018683108</td> </tr>
                                <tr><td>企业(机构)类型</td> <td>有限责任公司(自然人投资或控股)</td> </tr>
                                <tr><td>注册资本(万元)</td> <td>100.000000</td> </tr>
                                <tr><td>注册资本币种</td> <td>人民币</td> </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="wrapper-md" ng-show="resultSwitch" style="width:100%; padding:0 20px 0 20px;">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                        </div>
                        <div>
                            <table class="table-border-style">
                                <tr><th colspan="2" style="background-color: #f6f8f8">企业股东信息</th></tr>
                                <tbody ng-repeat="(index,value) in mockData.timeStyle">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index+1}}</th></tr>
                                <tr><td>查询人姓名</td><td>{{value.sheanType}}</td></tr>
                                <tr><td>企业(机构)名称</td><td>{{value.sheanCla}}</td></tr>
                                <tr><td>注册号</td> <td>{{value.sheanClass}}</td> </tr>
                                <tr><td>企业(机构)类型</td> <td>{{value.sheanCla}}</td> </tr>
                                <tr><td>注册资本(万元)</td> <td>{{value.sheanType}}</td> </tr>
                                <tr><td>注册资本币种</td> <td>{{value.sheanCla}}</td> </tr>
                                </tbody>
                                <tr><th colspan="2" style="background-color: #f6f8f8">企业法人信息</th></tr>
                                <tbody ng-repeat="(index,value) in mockData.timeType">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index+1}}</th></tr>
                                <tr><td>查询人姓名</td><td>{{value.sheanType}}</td></tr>
                                <tr><td>企业(机构)名称</td><td>{{value.sheanCla}}</td></tr>
                                <tr><td>注册号</td> <td>{{value.sheanClass}}</td> </tr>
                                <tr><td>企业(机构)类型</td> <td>{{value.sheanCla}}</td> </tr>
                                <tr><td>注册资本(万元)</td> <td>{{value.sheanType}}</td> </tr>
                                <tr><td>注册资本币种</td> <td>{{value.sheanCla}}</td> </tr>
                                </tbody>
                                <tr><th colspan="2" style="background-color: #f6f8f8">企业主要管理信息</th></tr>
                                <tbody ng-repeat="(index,value) in mockData.timeType">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td>查询人姓名</td><td>{{value.sheanCla}}</td></tr>
                                <tr><td>企业(机构)名称</td><td>{{value.sheanType}}</td></tr>
                                <tr><td>注册号</td> <td>{{value.sheanCla}}</td> </tr>
                                <tr><td>企业(机构)类型</td> <td>{{value.sheanCla}}</td> </tr>
                                <tr><td>注册资本(万元)</td> <td>100.000000</td> </tr>
                                <tr><td>注册资本币种</td> <td>{{value.sheanType}}</td> </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


