<script>
    "use strict";
    /*
     *创建人：沈小艳
     *创建时间：2017/08/01
     *验证手机号归属地查询信息
     * */
    app.controller('phoneAttributionCheck', ['$scope', function ($scope) {
        //没有接口 自己模拟的数据
        $scope.mockData = [
            {
                phone: "18860469551",
                province: "北京",
                area: "北京",
                packag: "全球通",
                supplier:'中国电信'
            },
            {
                phone: "18860469552",
                province: "四川",
                area: "成都",
                packag: "全球通",
                supplier:'中国移动'
            },
            {
                phone: "18860469553",
                province: "浙江",
                area: "杭州",
                packag: "全球通",
                supplier:'中国联通'
            }];
        //数据初始化
        $scope.info = {
            phone: '18860469553'

        };

        //结果与样例的切换初始化
        $scope.resultSwitch = false;

        //重置数据
        $scope.resetInfo = function () {
            $scope.info.phone = '';
            $scope.resultSwitch = false;
        };

        //提交
        $scope.submitInfo = function (myForm) {
            //提交空表单时提示格式错误
            if (myForm.phone) {
                myForm.phone.$dirty = true;

            }
            if (!myForm.$valid) {
                $scope.resultSwitch = false;
                return
            }
            $scope.resultSwitch = true;

            angular.forEach($scope.mockData,function (obj,index) {
                if($scope.info.phone===obj.phone){
                    $scope.resultMsg = obj;

                }
            })
        }



    }]);
</script>
<div class="vbox" ng-controller="phoneAttributionCheck">
    <div class="wrapper b-b">
        <div class="font-thin h4">个人信息查询</div>
    </div>
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div class="wrapper-md">
                    <div class="panel panel-info input-panel" style="margin-bottom: 0">
                        <div class="panel-heading">手机号归属地查询</div>
                        <div class="panel-body">
                            <form name="myForm" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"><span style="color: #ff0000">*</span>手机号：</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-model="info.phone" name="phone"  class="form-control" ng-required="true" pattern="^1[3|4|5|7|8][0-9]{9}$">
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align:left" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.phone.$error.required">手机号不能为空</span>
                                        <span style="color: #ff0000" ng-show="myForm.phone.$error.pattern">手机号格式错误</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-8">
                                        <button type="button"  class="btn btn-info" ng-click="submitInfo(myForm)">提交</button>
                                        <button type="button"  class="btn btn-info" ng-click="resetInfo()">重置</button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> 生成PDF</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--样例-->
                <div class="wrapper-md" style="width:100%; padding:0 20px 0 20px;" ng-show="!resultSwitch">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                            <span style="color: red;">样例</span>
                        </div>
                        <div>
                            <table class="table-border-style">
                                <tr ><td width="50%">手机号所在省份</td><td width="50%">北京</td></tr>
                                <tr ><td>手机号所在区域名字</td><td>北京</td></tr>
                                <tr ><td>手机号简单描述</td><td>北京移动全球通卡</td></tr>
                                <tr ><td>手机号供应商</td><td>中国移动</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--结果-->
                <div class="wrapper-md" style="width:100%; padding:20px 20px 0 20px;" ng-show="resultSwitch">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                        </div>
                        <div>
                            <table class="table-border-style">
                                <tr ><td width="50%">手机号所在省份</td><td width="50%" ng-bind="resultMsg.province"></td></tr>
                                <tr ><td>手机号所在区域名字</td><td ng-bind="resultMsg.area"></td></tr>
                                <tr ><td>手机号简单描述</td><td ng-bind="resultMsg.packag"></td></tr>
                                <tr ><td>手机号供应商</td><td ng-bind="resultMsg.supplier"></td></tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


