<script type="text/javascript">

    app.controller("userListCtrl",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$stateParams",
            "$filter",
            function($rootScope, $scope, $http, $stateParams, $filter){
                //状态栏
                $scope.states = [];
				$scope.byState='all';
                $scope.entity_key = $stateParams.entity_key;
                $scope.list = [];
                $scope.roleId=window.myinfo.role.id;
                $scope.roleLabel=window.myinfo.role.label;
                $scope.eduitModalInfo = {};
                $scope.addUser = {};

                //设置页数
                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 1,
                    num_page: 1,
                    total_page: 1
                };

                //获取状态
                $scope.getStates = function () {
                    $http.get("/rest/userStates").success(function (resResult) {
                        $scope.states = resResult._embedded.userStates;
                    });
                };
                $scope.getStates();

                //状态栏搜索
                $scope.stateSelect = function($event,stateCode){
                    if($event.target.nodeName === "INPUT"){
                    	$scope.byState='state';
                        $scope.state_code = stateCode;
                        $scope.searchInfo = {
                            stateCode : $scope.state_code
                        };
                        $scope.getList(0);
                    }
                };
                $scope.getAll=function(){
                	$scope.byState='all';
                	$scope.searchInfo = {
                	    stateCode : ""
                    };
                	$scope.getList(0);
                };

                //获取部门和角色列表
                $http({
                    method:'GET',
                    url:'/rest/roles/search/roleWithValStaCode?projection=roleLabelAndRoleCode'
                }).then(function(response){
                    $scope.roles=response.data._embedded.roles;
                });
                //获取有用的部门
                $http({
                    method:'GET',
                    url: "/rest/departments/search/findAllEnabled"
                }).then(function(response){
                    $scope.departments=response.data._embedded.departments;
                });

                $scope.searchInfo = {
                    stateCode:$scope.state_code
                };

                //初始化的列表
                $scope.getList = function (page) {
                    $scope.loading = true;
                	if($scope.byState==='state'){
                		$scope.link="/rest/users/search/getByStateCode?projection=showInEnd&size=15&page=" + page+"&stateCode="+$scope.state_code + "&sort=lastModifiedAt,desc";
                	}
                	else if($scope.byState==='all'){
                	    $scope.state_code = "";
                		$scope.link='/rest/users?projection=showInEnd&size=15&page=' + page + "&sort=lastModifiedAt,desc";
                	}
                    //传递参数 状态，条数，页码
                    $http({
                        method: "POST",
                        url : "/dafeng/enduser/search?page=" + page +"&size=15&sort=lastModifiedAt,desc",
                        data : {
                            stateCode : $scope.state_code
                        }
                    }).success(function(resResult){

                        $scope.loading = false;

                        $scope.list = resResult.data.content;

                        $scope.pageList = {
                            size: resResult.data.page.size,
                            total_elements: resResult.data.page.totalElements,
                            current_page: resResult.data.page.number === 0 ? 0 : resResult.data.page.number,
                            num_page: resResult.data.page.totalPages,
                            total_page: resResult.data.page.totalPages
                        };

                        if ($scope.list.length > 0) {
                            $rootScope.setPaginator("#"+ $scope.entity_key +"_list_paginator", $scope.pageList, $scope.getList);
                        }
                    });
                };
                $scope.getList(0);


                //搜索框请求数据
                $scope.getSearch = function(page){

                    if(!$scope.searchInfo){
                        $rootScope.toasterWarning("失败！","请填写数据！");
                    }else{
                        $http({
                            method: "POST",
                            url : "/dafeng/enduser/search?page=" + page +"&size=15&sort=lastModifiedAt,desc",
                            data : $scope.searchInfo
                        }).success(function(resResult){

                            $scope.list = resResult.data.content;

                            $scope.pageList = {
                                size: resResult.data.page.size,
                                total_elements: resResult.data.page.totalElements,
                                current_page: resResult.data.page.number === 0 ? 0 : resResult.data.page.number,
                                num_page: resResult.data.page.totalPages,
                                total_page: resResult.data.page.totalPages
                            };

                            if ($scope.list.length > 0) {
                                $rootScope.setPaginator("#"+ $scope.entity_key +"_list_paginator", $scope.pageList, $scope.getSearch);
                            }
                        });
                    }

                };

                //清除搜索框信息
                $scope.clearInfo = function(){
                    if($scope.state_code){
                        $scope.searchInfo = {
                            stateCode:$scope.state_code
                        };
                    }else{
                        $scope.searchInfo = {
                            stateCode:""
                        };
                    }

                    $scope.getList(0);
                };

                //编辑后台用户
                $scope.eduitUser = function(id, item){

                    console.log(id)

                    $http.get("/rest/users/" + id).success(function(resResult){
                        $scope.userInfo = resResult;
                        $scope.eduitModalInfo.name = resResult.nickname;
                        $scope.eduitModalInfo.phone = resResult.username;
                        $scope.eduitModalInfo.roleCode = resResult.authorities[0].authority;

                    });

                    $scope.eduitModalInfo.departmentId = item.departmentId;

                    // $http.get("/dafeng/role/getByStateCode",{stateCode : "ENABLED"}).success(function(resResult){
                    //     console.log(resResult);
                    //     $scope.roles = resResult.data.roleContent;
                    // });

                    $("#eduit_user_modal").modal("show");

                    $scope.eduitUserModal = function(){

                        if(!$scope.eduitModalInfo.name){
                            $rootScope.toasterWarning("失败！","请填写用户姓名");

                        }else if( !$scope.eduitModalInfo.phone ){
                            $rootScope.toasterWarning("失败！","请填写正确的的11位手机号码");

                        }else if($scope.eduitModalInfo.phone && !(/^1[34578]\d{9}$/.test($scope.eduitModalInfo.phone))){
                            $rootScope.toasterWarning("失败！","请填写正确的的11位手机号码");

                        }else if($scope.eduitModalInfo.phone === $scope.userInfo.username && $scope.eduitModalInfo.name === $scope.userInfo.nickname && $scope.eduitModalInfo.roleCode === $scope.userInfo.authorities[0].authority && $scope.eduitModalInfo.departmentId === item.departmentId){
                            $rootScope.toasterWarning("失败！","请修改用户数据后提交");

                        }else{
                            $http({
                                method : "POST",
                                url : "/dafeng/enduser/update/" + id,
                                data : {
                                    username : $scope.eduitModalInfo.phone,
                                    nickname : $scope.eduitModalInfo.name,
                                    roleCode : $scope.eduitModalInfo.roleCode,
                                    departmentId : $scope.eduitModalInfo.departmentId
                                }
                            }).success(function(resRsult){

                                if(resRsult.ErrorCode) {
                                    $rootScope.toasterError("失败！", resRsult.ErrorInfo);

                                }else{
                                    $rootScope.toasterSuccess("成功！", "编辑成功");
                                    $("#eduit_user_modal").modal("hide");
                                    $scope.getList(0);
                                    $scope.searchInfo = {
                                        stateCode:$scope.state_code
                                    };
                                }

                            }).error(function(resResult){
                                $rootScope.toasterError("失败！", resResult.ErrorInfo);
                            });
                        }

                    }
                };

                //新增后台用户
                $scope.addSubmit=function(){

                    if(!(/^1[34578]\d{9}$/.test($scope.addUser.username))){
                        $rootScope.toasterWarning("失败！", "请填写正确的11位手机号！");
                    } else if(!$scope.addUser.addName){
                        $rootScope.toasterWarning("失败！", "请输入真实姓名！");
                    } else if(!$scope.addUser.departmentId){
                        $rootScope.toasterWarning("失败！", "请选择部门！");
                    } else if(!$scope.addUser.addRole){
                        $rootScope.toasterWarning("失败！", "请选择角色！");
                    } else{
                        $http({
                            method:'POST',
                            url:'/dafeng/enduser/addEndUser2',
                            data:{
                                username:String($scope.addUser.username),
                                nickname:$scope.addUser.addName,
                                departmentId:$scope.addUser.departmentId,
                                roleCode:$scope.addUser.addRole
                            }
                        }).success(function (resResult){

                            if(resResult.ErrorCode){
                                $rootScope.toasterError("失败！", resResult.ErrorInfo);
                            }else{
                                $rootScope.toasterSuccess("成功！", "操作成功！");
                                $("#addUser").modal("hide");
                                $scope.addUser = {};
                                $scope.searchInfo = {};
                                $scope.getList(0);

                            }

                        }).error(function(resResult){
                            $rootScope.toasterError("失败！", resResult.ErrorInfo);
                        })
                    }
                };

                $scope.clearModal = function(){
                    $("#addUser").modal("hide");
                    $scope.addUser = {};

                };

                //修改用户状态
                $scope.changeState=function(id,toState){
                	var changeStateFun=function(){
                		$http({
                			method:'POST',
                			url:'/dafeng/enduser/changeUserState',
                			data:{
                				id:id,
                				stateCode:toState
                			}
                		}).then(function(resResult){
                		    if(resResult.ErrorCode){
                                $rootScope.toasterError("失败！", resResult.ErrorInfo);
                            }else{
                                $rootScope.toasterSuccess("成功！", "操作成功！");
                                if($scope.searchInfo){
                                    $scope.getSearch(0);
                                }else{
                                    $scope.getList(0);
                                }
                            }

                		});
                	};
                	$rootScope.sweetConfirm('确认修改该用户状态？',changeStateFun);
                };

               	//修改密码
               	$scope.changePassword=function(){
               		if(!$scope.oldPwd){
               			$rootScope.toasterError('失败','请输入原密码！');
               		}
               		else if(!$scope.newPwd){
               			$rootScope.toasterError('失败','请输入新密码！');
               		}
               		else if(!$scope.confirmPwd|| $scope.confirmPwd != $scope.newPwd){
               			$rootScope.toasterError('失败','请确认新密码！');
               		}
               		else{
               			$http({
               				method:'POST',
               				url:'/dafeng/enduser/changePswd',
               				params:{
               					username:window.myinfo.username,
               					oldpassword:$scope.oldPwd,
               					newPassword:$scope.newPwd
               				}
               			}).then(function successCallback(response){
               				if(response.data.ErrorCode==100){
               					$rootScope.toasterError('失败','原密码错误，修改失败！');
               				}
               				else if(response.data.ErrorCode==0){
               					$rootScope.toasterSuccess('成功','修改成功！');
                                $scope.searchInfo = {};
                                $scope.getList(0);
               				}
               			});
               		}
               	};

               	//重置密码
               	$scope.resetPassword=function(username){
               		var resetPasswordFun=function(){
               			$http({
               				method:'POST',
               				url:'/dafeng/enduser/resetPswd',
               				params:{
               					username:username
               				}
               			}).then(function successCallback(response){
               				if(response.data.ErrorCode==0){
               					$rootScope.toasterSuccess('成功','重置成功！');
                                $scope.searchInfo = {
                                    stateCode:$scope.state_code
                                };
                                $scope.getList(0);
               					if(username==window.myinfo.username){
               						window.location.href='/logout';
               					}
               				}
               			});
               		};
               		$rootScope.sweetConfirm('确认重置该用户密码？',resetPasswordFun);
               	};

                $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
                    //下面是在table render完成后执行的js
                    var ths = $('th');
                    var tds = $('td');
                    angular.forEach(ths, function(data,index){
                        data.setAttribute('width', tds[index].offsetWidth);
                    });
                });
            }]);

//    app.directive('onFinishRender', function ($timeout) {
//        return {
//            restrict: 'A',
//            link: function(scope, element, attr) {
////			    scope.$last(判断条件，这里直接跳过);
//                if (true) {
//                    $timeout(function() {
//                        scope.$emit(attr.onFinishRender);
//                    });
//                }
//            }
//        };
//    });
</script>

<div class="hbox hbox-auto-xs bg-light" ng-controller="userListCtrl">
    <div  ng-if="loading">
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_five"></div>
                    <div class="object" id="object_six"></div>
                    <div class="object" id="object_seven"></div>
                    <div class="object" id="object_eight"></div>
                </div>
                <!--<div class="text-center m-t">加载中请稍后</div>-->
            </div>
        </div>
    </div>
	<div class="wrapper b-b b-light clearfix">
        <div class="inline pull-left">
            <!--<span translate="createEnquiries.self.label"></span>-->
            状态：
        </div>
        <div class="inline pull-left m-r">
            <label class="i-checks pull-left m-n">
                <input type="radio" name="state" ng-click="getAll()" checked="checked"/><i></i> 全部
            </label>
        </div>
        <div class="inline pull-left m-r" ng-repeat="state in states">
            <label class="i-checks pull-left m-n" ng-click="stateSelect($event,state.stateCode)">
                <input type="radio" name="state"><i></i> {{ state.label }}
            </label>
        </div>
        <div class="pull-right m-r inline" ng-if="roleLabel === '超级管理员' || roleLabel === '统计系统超级管理员'">
			<button type="button" class="btn m-b-xs btn-sm btn-danger btn-addon" data-toggle="modal" data-target="#addUser">
				<i class="fa fa-plus"></i>新增用户
			</button>
		</div>
    </div>
    <div class="wrapper b-b b-light clearfix">
        <div class="pull-left">
            <div class="w inline m-r">
                <select name="departmentId"
                        class="form-control m-b"
                        ng-model="searchInfo.departmentName"
                        ng-options="item.label as item.label for item in departments"
                        autocomplete="off">
                    <option value="">--请选择部门--</option>
                </select>
            </div>
            <div class="w inline m-r">
                <input type="text"
                        class="form-control"
                        placeholder="请输入用户姓名"
                        ng-model="searchInfo.nickname"
                        autocomplete="off">
            </div>
            <div class="w inline m-r">
                <input type="text"
                       class="form-control"
                       placeholder="请输入用户电话"
                       ng-model="searchInfo.username"
                       autocomplete="off">
            </div>
            <div class="inline">
                <button type="button" class="btn btn-primary m-r" ng-click="getSearch(0)">
                    <span>查询</span>
                </button>
                <button type="button" class="btn btn-default m-r" ng-click="clearInfo()">
                    <span>清除</span>
                </button>
            </div>
        </div>
    </div>
	
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div class="wrapper b-b">
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-if="list.length < 1">
                            暂无数据！
                        </div>
                        <div class="table-responsive" ng-if="list.length > 0">
                            <table class="table table-hover b-t b-light">
                                <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>电话</th>
                                        <th>部门</th>
                                        <th>角色</th>
                                        <th>状态</th>
                                        <th>更新时间</th>
                                        <th ng-hide="state_code === 'DELETED'">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in list">
                                        <td class="v-middle">
                                            {{item.nickname ? item.nickname : "暂无"}}
                                        </td>
                                        <td class="v-middle">
                                            {{item.username ? item.username : "暂无"}}
                                        </td>
                                        <td class="v-middle">
                                            {{item.department.label ? item.department.label : (item.departmentLabel ? item.departmentLabel : "暂无")}}
                                        </td>
                                        <td class="v-middle">
                                            {{item.role.label ? item.role.label : (item.roleLabel ? item.roleLabel : "暂无")}}
                                        </td>
                                        <td class="v-middle">
                                            {{item.state.label ? item.state.label : (item.stateLabel ? item.stateLabel : "暂无")}}
                                        </td>
                                        <td class="v-middle">
                                            {{item.lastModifiedAt ? (item.lastModifiedAt | datetime) : "暂无" }}
                                        </td>
                                        <td class="v-middle">
                                            <button class="btn btn-xs btn-info"
                                                    ng-click="eduitUser(item.id, item)"
                                                    ng-if="roleLabel === '超级管理员' || roleLabel === '管理员'"
                                                    ng-hide="item.state.stateCode === 'DELETED' || item.stateLabel === '已删除'"
                                                    data-target="eduit_user_modal"
                                                    data-toggle="modal">
                                                编辑
                                            </button>
                                            <button class="btn btn-xs btn-danger"
                                                    ng-click="changeState(item.id,'DISABLED')"
                                                    ng-if="item.state.stateCode === 'ENABLED' || item.stateLabel === '有效'">
                                                禁用
                                            </button>
                                            <button class="btn btn-xs btn-success"
                                                    ng-click="changeState(item.id,'ENABLED')"
                                                    ng-if="item.state.stateCode === 'DISABLED'  || item.stateLabel === '无效'">
                                                启用
                                            </button>
                                            <button class="btn btn-xs btn-danger"
                                                    ng-click="changeState(item.id,'DELETED')"
                                                    ng-hide="item.state.stateCode === 'DELETED' || item.stateLabel === '已删除'">
                                                删除
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="wrapper b-t b-light clearfix">
	                <ul id="{{ entity_key }}_list_paginator" style="margin:2px 0;float: right;"  ng-show="list.length>0"></ul>
	                <small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">总共 {{ pageList.total_elements }} 条</small>
	            </div>
            </div>
        </div>
    </div>
    
    <!-- 修改密码 -->
    <div class="modal fade" id="reset_password_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form name="reset_password_form" class="form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">原密码：</label>
                            <div class="col-xs-9">
                                <input type="password"
                                       class="form-control"
                                       ng-model="oldPwd"
                                       autocomplete="off"
                                       required
                                       placeholder="原密码">
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in "></div>
                        <div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">新密码：</label>
                                <div class="col-xs-9">
                                    <input type="password"
                                           class="form-control"
                                           name="newPwd"
                                           required
                                           ng-model="newPwd"
                                           autocomplete="off"
                                           placeholder="新密码">
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label">确认密码：</label>
                                <div class="col-xs-9">
                                    <input type="password"
                                           class="form-control"
                                           name="confirmPwd"
                                           required
                                           autocomplete="off"
                                           ng-model="confirmPwd"
                                           ui-validate="'$value==newPwd'"
                                           ui-validate-watch="'newPwd'"
                                           placeholder="确认密码">
                                    <span class="help-block text-danger" ng-show='reset_password_form.confirmPwd.$error.validator'>两次输入的密码不一致！</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="reset_password_form.$invalid" ng-click="changePassword()" data-dismiss="modal">保存</button>
                </div>
            </div>
        </div>
    </div>
	
	<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  
	    <div class="modal-dialog" role="document">  
	        <div class="modal-content">  
	            <div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal" ng-click="clearModal()">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="createDepartModal">新增后台用户</h4>
	            </div>  
	            <div class="modal-body">
	            	<form>
                        <div class="form-group">
                            <label><span class="text-danger">*</span>手机号码</label>
                            <input type="number" class="form-control"
                                   autocomplete="off"
                                   required
                                   placeholder="请填写11位的手机号码"
                                   ng-model="addUser.username">
                        </div>
                        <div class="form-group">
                            <label><span class="text-danger">*</span>真实姓名</label>
                            <input type="text"
                                   class="form-control"
                                   autocomplete="off"
                                   placeholder="请填写真实姓名"
                                   ng-model="addUser.addName">
                        </div>
                        <div class="form-group">
                            <label><span class="text-danger">*</span>选择部门</label>
                            <select type="text"
                                    class="form-control"
                                    autocomplete="off"
                                    ng-options="department.id as department.label for department in departments"
                                    ng-model="addUser.departmentId"></select>
                        </div>
                        <div class="form-group">
                            <label><span class="text-danger">*</span>选择角色</label>
                            <select type="text" class="form-control"
                                    autocomplete="off"
                                    ng-options="role.roleCode as role.label for role in roles"
                                    ng-model="addUser.addRole"></select>
                        </div>
                        <p>以上各项均为必填项，创建的后台用户初始密码为手机号后6位</p>
                    </form>
		        </div>  
	            <div class="modal-footer">  
	                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModal()">关闭</button>
	                <button type="button" class="btn btn-primary"  ng-click="addSubmit()">确定</button>
	            </div>  
		    </div>  
		</div>
	</div>


    <!--弹出框-->
    <div class="modal fade" id="eduit_user_modal" tabindex="-1" role="dialog" aria-labelledby="eduit_user_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="clearModal()">
                        <span>×</span>
                    </button>
                    <h4 class="modal-title" id="eduitUserName">编辑后台用户</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name"><span class="text-danger">*</span>用户姓名</label>
                            <input type="text"
                                   id="name"
                                   class="form-control"
                                   autocomplete="off"
                                   palceholder="请填写用户姓名"
                                   ng-model="eduitModalInfo.name">
                        </div>
                        <div class="form-group">
                            <label for="phone"><span class="text-danger">*</span>电话号码</label>
                            <input type="text"
                                   id="phone"
                                   class="form-control"
                                   placeholder="请填写用户手机号"
                                   autocomplete="off"
                                   ng-model="eduitModalInfo.phone">
                        </div>
                        <div class="form-group">
                            <label><span class="text-danger">*</span>角色</label>
                            <select type="text" class="form-control"
                                    autocomplete="off"
                                    ng-options="role.roleCode as role.label for role in roles"
                                    ng-selected="role.roleCode == eduitModalInfo.roleCode"
                                    ng-model="eduitModalInfo.roleCode"></select>
                        </div>
                        <div class="form-group">
                            <label><span class="text-danger">*</span>选择部门</label>
                            <select type="text"
                                    class="form-control"
                                    autocomplete="off"
                                    ng-options="department.id as department.label for department in departments"
                                    ng-selected="department.id == eduitModalInfo.departmentId"
                                    ng-model="eduitModalInfo.departmentId"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModal()">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="eduitUserModal()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>



