<div ng-controller="workflowEntityModuleController" class="h-full" ui-view></div>
<!-- hbox layout -->
<!--<div class="hbox hbox-auto-xs bg-light h-full" ng-controller="workflowEntityModuleController">
    <div class="col w-md b-r " ng-controller='workflowEntityStatesController'>
        <div class="vbox">
            <div class="wrapper-md b-b clearfix">
                <div class="font-thin h4 m-t-xs pull-left">
                    {{ entity_key }}States
                </div>
                <div class="pull-right">
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addUser">新增</button>
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable">
                    <div class="cell-inner">
                        <div class="wrapper-md">
                            <ul class="nav nav-pills nav-stacked nav-sm">
                                <li ui-sref-active="active" ng-repeat="state in states">
                                    <a ui-sref="workflowEntity.list({state_code:state.stateCode})">
                                        {{ state.label }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col lter" ui-view></div>
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog">
        <div class="modal-xs modal-dialog" role="document" style="width: 331px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">新增员工</h4>
                </div>
                <div class="modal-body">
                    <div id="login_container"></div>
                    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
                    <script th:inline="javascript">
                        var obj;
                        $.ajax({
                            type: "get",
                            url : "employeeApplyJson",
                            data: "",
                            success: function(resResult){
                                if (resResult){
                                    obj = new WxLogin({
                                        id: "login_container",
                                        appid: resResult.appid,
                                        scope: resResult.scope,
                                        redirect_uri:resResult.redirect_uri,
                                        state: resResult.state,
                                        style: "",
                                        href: ""
                                    });
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>


</div>-->
<!-- /hbox layout -->
