<div class="vbox">
    <div class="wrapper b-b clearfix">
        <div class="pull-left m-t-xs">
            {{entity_key}} / workflow
        </div>
        <div class="pull-right">
            <a class="btn btn-sm btn-danger" ui-sref="workflowEntityConfig.workflowCreate({})">
                <i class="fa fa-cog"></i> 新增
            </a>
        </div>
    </div>
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div class="wrapper-md">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>全称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in workflows">
                            <td class="v-middle">{{ item.label }}</td>
                            <td class="v-middle clearfix">
                                <button type="button" class="pull-left m-r-sm btn btn-info btn-xs"
                                        ng-click="workflowEdit(item.id)">
                                    <i class="fa fa-edit"></i> 编辑
                                </button>
                                <button type="button" class="pull-left btn btn-info btn-xs"
                                        ng-click="workflowState(item.id)">
                                    <i class="fa fa-group"></i> 状态
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


