<script>
    "use strict";
    /*
     *创建人：沈小艳
     *创建时间：2017/08/03
     *商户账单真伪验证
     *
     * */
    app.controller('businessAuthenticityCheck', ['$scope', function ($scope) {
        //没有接口 自己模拟的数据
        $scope.mockData =
            $scope.mockData = {
                enterpriseName:"商道科技",
                creditRegister: [
                    {
                        platformType: 2,
                        registerTime: "2016/01/02 17:20:20"
                    },
                    {
                        platformType: 2,
                        registerTime: "2016/01/08 12:20:20"
                    }
                ]
            };
        //select
        $scope.enterprise=[
            {
                type:'按商户名称查'
            },
            {
                type:'按商户编号查'
            }
        ];
        $scope.YourOption =$scope.enterprise[0];
        $scope.$watch("YourOption", function(n){
            $scope.type = n.type;
        });


        //数据初始化
        $scope.info = {
            enterpriseName: "商道科技"
        };

        //结果与样例的切换初始化
        $scope.resultSwitch = false;

        //重置数据
        $scope.resetInfo = function () {
            $scope.info.enterpriseName = '';
            $scope.resultSwitch = false;
        };


        //提交
        $scope.submitInfo = function (myForm) {
            //数据信息格式错误时阻止表单提交
            if (myForm.enterpriseName) {
                myForm.enterpriseName.$dirty = true
            }

            if (!myForm.$valid) {
                $scope.resultSwitch = false;
                return
            }


            if($scope.info.enterpriseName === $scope.mockData.enterpriseName){
                $scope.resultSwitch = true;
                console.log('aaa')
            }else {
                $scope.resultSwitch = false;
                console.log('bbb')
            }




        };

    }]);
</script>
<div class="vbox" ng-controller="businessAuthenticityCheck">
    <div class="wrapper b-b">
        <div class="font-thin h4">企业信息查询</div>
    </div>
    <div class="row-row">
        <div class="cell scrollable">
            <div class="cell-inner">
                <div class="wrapper-md">
                    <div class="panel panel-info input-panel" style="margin-bottom: 0">
                        <div class="panel-heading">商户账单真伪验证</div>
                        <div class="panel-body">
                            <form name="myForm" class="form-horizontal">
                                <input type="hidden" class="url" value="/transaction/baseInfo">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label label1"><span style="color: #ff0000">*</span>{{type}}:</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-model="info.enterpriseName" name="enterpriseName" class="form-control" ng-required="true">
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align:left" ng-show="myForm.enterpriseName.$dirty && myForm.enterpriseName.$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.enterpriseName.$error.required">所填内容不能为空</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: #ff0000">*</span>查询方式:</label>
                                    <div class="col-sm-4">
                                        <select ng-model="YourOption" class="form-control" ng-options="enterpriseType.type for enterpriseType in enterprise">
                                            <!--<option value="name">按企业名称查</option>-->
                                            <!--<option value="regNo">按企业工商注册号查</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: #ff0000">*</span>交易起始日期:</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-model="info.onlineTime" name="onlineTime" class="form-control" ng-required="true" placeholder="格式yyyy-mm-dd" pattern="((((19|20)\d{2})-(0?(1|[3-9])|1[012])-(0?[1-9]|[12]\d|30))|(((19|20)\d{2})-(0?[13578]|1[02])-31)|(((19|20)\d{2})-0?2-(0?[1-9]|1\d|2[0-8]))|((((19|20)([13579][26]|[2468][048]|0[48]))|(2000))-0?2-29))$">
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align: left" ng-show="myForm.onlineTime.$dirty && myForm.onlineTime.$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.onlineTime.$error.required">日期不能为空</span>
                                        <span style="color: #ff0000" ng-show="myForm.onlineTime.$error.pattern">日期格式不正确</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: #ff0000">*</span>交易结束日期:</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-model="info.offlineTime" name="offlineTime" class="form-control" ng-required="true" placeholder="格式yyyy-mm-dd" pattern="((((19|20)\d{2})-(0?(1|[3-9])|1[012])-(0?[1-9]|[12]\d|30))|(((19|20)\d{2})-(0?[13578]|1[02])-31)|(((19|20)\d{2})-0?2-(0?[1-9]|1\d|2[0-8]))|((((19|20)([13579][26]|[2468][048]|0[48]))|(2000))-0?2-29))$">
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 col-md-offset-0 col-md-3 control-label padder" style="text-align: left" ng-show="myForm.offlineTime.$dirty && myForm.offlineTime.$invalid">
                                        <span style="color: #ff0000" ng-show="myForm.offlineTime.$error.required">日期不能为空</span>
                                        <span style="color: #ff0000" ng-show="myForm.offlineTime.$error.pattern">日期格式不正确</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-md-offset-2 col-sm-8">
                                        <button type="button"  class="btn btn-info" ng-click="submitInfo(myForm)">提交</button>
                                        <button type="button"  class="btn btn-info" ng-click="resetInfo()">重置</button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> 生成PDF</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="wrapper-md" ng-show="!resultSwitch" style="width:100%; padding:0 20px 0 20px;">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                            <span style="color: red;">样例</span>
                        </div>
                        <div>
                            <table class="table-border-style">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息1</th></tr>
                                <tr><td  width="50%">交易时间</td><td width="50%">2014-02-02 12:02:36</td></tr>
                                <tr><td>交易金额（单位分）</td><td>10033</td></tr>
                                <tr><td>银行卡</td><td>	c95afb0f0b0f8ea26064d4b223ed945acec 2de77ed1de2b2c</td></tr>
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息2</th></tr>
                                <tr><td  width="50%">交易时间</td><td width="50%">2014-02-02 12:02:36</td></tr>
                                <tr><td>交易金额（单位分）</td><td>10033</td></tr>
                                <tr><td>银行卡</td><td>	c95afb0f0b0f8ea26064d4b223ed945acec 2de77ed1de2b2c</td></tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="wrapper-md" ng-show="resultSwitch" style="width:100%; padding:0 20px 0 20px;">
                    <div class="panel panel-info input-panel">
                        <div class="panel-heading">
                            <span style="color: #474747;">查询结果</span>
                        </div>
                        <div>
                            <table class="table-border-style" ng-repeat="(index,value) in mockData.creditRegister">
                                <tr><th colspan="2" style="background-color: #f6f8f8">信息{{index+1}}</th></tr>
                                <tr><td  width="50%">交易时间</td><td width="50%">{{value.platformType}}</td></tr>
                                <tr><td>交易金额（单位分）</td><td>{{value.registerTime}}</td></tr>
                                <tr><td>银行卡</td><td>{{value.registerTime}}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


