<script>
    "use strict";

    app.controller("friendsCtrl",
        [
            "$rootScope",
            "$scope",
            "$http",
            "$stateParams",
            "$filter",
            "$timeout",
            function ($rootScope, $scope, $http, $stateParams,$filter,$timeout) {
                $scope.entity_key = $stateParams.entity_key;
                $scope.personInfo = "";
                //反馈列表
                $scope.list = [];

                $scope.pageList = {
                    size: 0,
                    total_elements: 0,
                    current_page: 0,
                    num_page: 1,
                    total_page: 1
                };

                $scope.searchInfo = {
                    stateCode:"",
                    startTime:"",
					endTime:""
                };
				$scope.uploadArray=[];

                //时间控件开始
                //控制点击日历图表弹出选择框
                $scope.open = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.opened = true;
                };

                //时间控件属性设置 参考http://www.cnblogs.com/pilixiami/p/5611346.html
                $scope.dateOptions = {
                    formatYear: "yy",
                    startingDay: 1,
                    class: "datepicker"
                };

                $scope.endOpen = function ($event) {
                    $event.preventDefault();
                    $event.stopPropagation();
                    $scope.endOpened = true;
                };
                $scope.endDateOptions = {
                    formatYear: "yy",
                    startingDay: 1,
                    class: "datepicker"
                };
                //时间控件结束

				//获取发布人列表  0是禁用的，1是启用的
				$http({method:"GET",url:"/dafeng/moments/getAllPer?isShow=1"}).then(
				    function (result) {
						$scope.peopleList = result.data.data.content;
                    }
				);
                //获取状态
                $http({method:"GET",url:"/dafeng/moments/getAllState"}).then(
                    function (result) {
                        $scope.states = result.data.data;
                    }
                );
                $scope.getList = function (page) {
                    $scope.loading = true;
                    $scope.link = "/dafeng/moments/queryAllMoments?size=15&page=" + page;

                    $http({method: "POST", url: $scope.link,data: $scope.searchInfo}).success(function (resResult) {
                        $scope.loading = false;
                        $scope.list = resResult.data.moments;

                        $scope.pageList = {
                            size: resResult.data.page.size,
                            total_elements: resResult.data.page.totalElements,
                            current_page: resResult.data.page.number,
                            num_page: resResult.data.page.totalPages,
                            total_page: resResult.data.page.totalPages
                        };

                        if ($scope.list.length > 0) {
                            $rootScope.setPaginator("#" + $scope.entity_key + "_list_paginator", $scope.pageList, $scope.getList);
                        }
                    });
                };

                $scope.getList(0);

                $scope.getAll = function () {
                    $scope.searchInfo.stateCode = "";
                    $scope.getList(0);
                };

                /*
                * 清空按钮
                * */
                $scope.clearSearch = function(){
                    $scope.searchInfo.startTime= "";
					$scope.searchInfo.endTime= "";
                    $scope.getList(0);
                };

                $scope.stateSelect = function($event,stateCode){
                    if($event.target.nodeName === "INPUT"){
                        $scope.searchInfo.stateCode = stateCode;
                        $scope.searchInfo.startTime = "";
                        $scope.searchInfo.endTime = "";
						$scope.getList(0);
                    }
                };

                $scope.changeState = function (id,type) {
                    var link;
                    if(type === 'publish'){
                        link = "/dafeng/moments/updateState/";
					} else {
                        link = "/dafeng/moments/delete/"
					}
                    $http.get(link+id).then(function (result) {
                        if(result.data.ErrorCode === 0){
                            if(type === 'publish'){
                                $rootScope.toasterSuccess("成功！", "发布成功！");
                            } else {
                                $rootScope.toasterSuccess("成功！", "删除成功！");
                            }

                            $scope.getList(0);
                        }
                    })
                };

                $scope.listTip = "请选择上传文件";
                var input = document.getElementById("fileImg");
                input.addEventListener('change',readFile,false);
                function readFile(){
                    var fd = new FormData();
                    var file = this.files[0];
                    fd.append("file", file);
                    $http({
                        method: "POST",
                        url: "/dafeng/fileUpload",
                        headers: {
                            "Content-Type": undefined
                        },
                        timeout: 0,
                        transformRequest: angular.identity,
                        data: fd
                    }).success(function (resResult) {
                        if(resResult.ErrorCode !== 0){
                            $rootScope.toasterError("失败！", result.data.ErrorInfo);
                            return;
						}
                        $rootScope.toasterSuccess("成功！", "图片上传成功！");
                        var imgUrl = "http://fengxianwuyou.oss-cn-hangzhou.aliyuncs.com/" + resResult.data.newFileName;
                        var imageInfo = {
                            height: resResult.data.imageInfo[2].Height,
							width: resResult.data.imageInfo[2].Width,
							size: resResult.data.imageInfo[2].Size,
							imgUrl: imgUrl
						};

                        $scope.uploadArray.push(imageInfo);
                        if($scope.uploadArray.length > 8){
                            $rootScope.toasterError("失败！", "最多只能上传9张图");
                            return 0;
                        }

                        var textHtml = "<img src='"+imgUrl+"'width='30px' height='30px'/>";
                        $(".imageCrop").append(textHtml);
                    })
                }

                $scope.submitClick = function () {
                    if($scope.uploadArray.length === 0 || $scope.friendsContent==="" || $scope.personInfo===""){
                        $rootScope.toasterError("失败！", "请输入必填信息");
                        return 0 ;
                    }
                    var uploadImgs = {
                        images:$scope.uploadArray,
                        content: $scope.friendsContent,
                        personInfoId:$scope.personInfo
                    } ;
                    $http({method:"POST",url:"/dafeng/moments/save",data:uploadImgs}).then(
                        function (result) {
                            if(result.data.ErrorCode === 0){
                                $timeout(function () {
                                    $("#upload_friends").modal("hide");
                                    $scope.$apply();
                                    $rootScope.toasterSuccess("成功！", "新增成功！");
                                    $scope.getList(0);
                                },0,false);


                            }else{
                                $rootScope.toasterError("失败！", result.data.ErrorInfo);
                            }
                        })
                };
                $scope.setImgUrl = function (url) {
					$scope.biggerUrl = url;
                };
                $('#upload_friends').on('hide.bs.modal',
                    function() {
                        $scope.friendsContent = "";
                        $("#fileImg").val("");
                        $(".imageCrop").remove();
						$scope.personInfo = "";
                        $scope.uploadArray = [];
						$scope.$apply();
                    })
            }
        ]
    );
</script>

<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="friendsCtrl">
	<!-- column -->
	<div class="col w-md lter b-l">
		<div class="vbox">
			<div class="wrapper b-b b-light clearfix">
				<div class="inline pull-left">
					<!--<span translate="createEnquiries.self.label"></span>-->
					状态：
				</div>
				<div class="inline pull-left m-r">
					<label class="i-checks pull-left m-n">
						<input type="radio" name="state" ng-click="getAll()" checked="checked"/><i></i> 全部
					</label>
				</div>
				<div class="inline pull-left m-r" ng-repeat="state in states">
					<label class="i-checks pull-left m-n" ng-click="stateSelect($event,state.stateCode)">
						<input type="radio" name="state"><i></i> {{ state.label }}
					</label>
				</div>
				<div class="pull-right m-r inline">
					<button type="button" class="btn m-b-xs btn-sm btn-danger btn-addon"
							data-toggle="modal"
							data-target="#upload_friends">
						<i class="fa fa-plus"></i>上传
					</button>
					<button type="button" class="btn m-b-xs btn-sm btn-info btn-addon"
							ui-sref="workflowEntity.home.profile.info">
						发布人管理
					</button>
				</div>
			</div>
			<div class="row-row">
				<div class="cell">
					<div class="cell-inner">
						<div class="wrapper">
							<div class="panel panel-default" style="width: 2000px">
								<div class="panel-heading" ng-if="list.length > 0">
									查询结果
								</div>
								<div class="panel-heading" ng-if="list.length < 1">
									暂无数据！
								</div>
								<div class="wrapper">
									<div class="w-sm inline_tab input-group">
										<input type="text"
											   disabled
											   style="float: none;"
											   class="form-control"
											   datepicker-popup="yyyy-MM-dd"
											   placeholder="查询起始时间"
											   ng-model="searchInfo.startTime"
											   id="startTime"
											   popup-placement="bottom-right"
											   is-open="opened"
											   datepicker-options="dateOptions"
											   close-text="关闭"
											   clear-text="清空"
											   current-text="今天"/>
										<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
									</div>
									<div class="w-sm inline_tab input-group">
										<input type="text"
											   disabled
											   style="float: none;"
											   class="form-control"
											   datepicker-popup="yyyy-MM-dd"
											   placeholder="查询截止时间"
											   ng-model="searchInfo.endTime"
											   id="endTime"
											   is-open="endOpened"
											   popup-placement="bottom-right"
											   datepicker-options="endDateOptions"
											   close-text="关闭"
											   clear-text="清空"
											   current-text="今天"/>
										<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="endOpen($event)">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
									</div>
									<div class="inline">
										<button type="button" class="btn btn-primary m-r" ng-click="getList(0)">
											<span>查询</span>
										</button>
										<button type="button" class="btn btn-default" ng-click="clearSearch()">
											<span>清除</span>
										</button>
									</div>
								</div>
								<div class="table-responsive" ng-if="list.length > 0">
									<table class="table table-hover b-t b-light scroll-x">
										<thead>
										<tr>
											<th style="width: 400px">内容</th>
											<th style="width: 1000px">图片</th>
											<th>发布人</th>
											<th>发布人头像</th>
											<th>状态</th>
											<th>更新时间</th>
											<th ng-if="searchInfo.stateCode !== 'DELETED'">操作</th>
										</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in list">
												<td class="v-middle" style="width: 400px">
													{{ item.content }}
												</td>
												<td class="v-middle" style="display: flex;width: 1000px;">
													<p ng-if="item.images.length<1">暂无数据</p>
													<img ng-if="item.images.length>0" style="height: 50px;width:80px;margin: 10px 10px 10px 0px;" class="img-responsive"  ng-repeat="img in item.images" ng-src={{img.imgUrl}}
														 data-toggle="modal"
														 data-target="#bigger_picture"
														 ng-click="setImgUrl(img.imgUrl)">
												</td>
												<td class="v-middle">
													{{ item.personInfo.nickName }}
												</td>
												<td class="v-middle">
													<span class="pull-left m-r">
														<img ng-src="{{ item.personInfo.headImg }}" style="height: 50px; width: 80px;">
													</span>
												</td>
												<td class="v-middle">
													{{ item.stateCode | friendsType}}
												</td>
												<td class="v-middle">
													{{ item.lastModifiedAt/1000 | datetime }}
												</td>
												<td class="v-middle" ng-if="item.stateCode !== 'DELETED'">
													<button class="btn btn-xs btn-danger"
															ng-if="item.stateCode === 'UNPUBLISHED'"
															ng-click="changeState(item.id,'publish')">
														发布
													</button>
													<button class="btn btn-xs btn-info" ng-if="searchInfo.stateCode !== 'DELETED'" ng-click="changeState(item.id,'delete')">
														删除
													</button>
												</td>
											</tr>
											</tbody>
										</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wrapper b-t b-light clearfix">
					<ul id="{{ entity_key }}_list_paginator" style="margin:2px 0;float: right;"  ng-show="list.length>0"></ul>
					<small class="m-l-md pull-right text-muted inline m-t-sm m-b-sm m-r">总共 {{ pageList.total_elements }} 条</small>
				</div>
				<div class="modal fade" id="upload_friends" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
								<h4 class="modal-title">上传内容</h4>
							</div>
							<div class="modal-body contentFont">
								<form class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label for="content">文本框</label>
											<textarea id="content" class="form-control" rows="10" ng-model="friendsContent"  maxlength="400" style="height: 140px"></textarea>
										</div>
										<p style="text-align:right;margin:0;">{{friendsContent.length?friendsContent.length:0}}/400</p>
									</div>
									<!--<div class="form-group">-->
										<!--<label class="col-lg-2 control-label" style="padding-left: 1px"><span class="text-danger">*</span>上传内容：</label>-->
										<!--<div class="col-sm-8">-->
											<!--<input type="text" class="form-control"-->
												   <!--ng-model="friendsContent"-->
												   <!--placeholder="请输入朋友圈内容"-->
												   <!--autocomplete="off">-->
										<!--</div>-->
									<!--</div>-->
									<div class="form-group">
										<label class="col-sm-2 control-label"><span class="text-danger">*</span>上传图片:</label>
										<div class="col-sm-4">
											<a href="javascript:" class="file">
												<input type="file" name="" id="fileImg" ng-model="file">
											</a>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label"></label>
										<div class="col-sm-8">
											<div class="imageCrop" style="display: flex">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label"><span class="text-danger">*</span>发布人:</label>
										<div class="col-sm-4">
											<select type="text" class="form-control"
													ng-model="personInfo"
													ng-options="person.id as person.nickName for person in peopleList">
												<option value="" selected>请选择发布人</option>
											</select>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" ng-click="submitClick()">提交</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade bs-example-modal-lg text-center" id="bigger_picture" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
					<div class="modal-dialog modal-lg" style="display: inline-block; width: auto;">
						<div class="modal-content">
							<img src="{{biggerUrl}}" style="max-width: 800px;max-height: 500px">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /column -->
	</div>
	<!-- /hbox layout -->
</div>
