<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light">


	<div class="col w-md b-r ">

		<div class="vbox">
			<div class="wrapper b-b">
				<div class="font-thin h4">事务</div>
			</div>
			<div class="nav-tabs-alt">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a data-target="#tab-1" role="tab"
						data-toggle="tab" aria-expanded="true">待办</a></li>
					<li class=""><a data-target="#tab-2" role="tab"
						data-toggle="tab" aria-expanded="false">已办</a></li>
				</ul>
			</div>
			<div class="row-row">
				<div class="cell scrollable">
					<div class="cell-inner">
						<div class="tab-content">
							<div class="tab-pane active" id="tab-1">
								<div class="wrapper-md">
									这是待办的任务
									<ul class="list-group no-bg no-borders pull-in">
										<li class="list-group-item">
											<div class="streamline b-l m-b">
												<div class="sl-item">
													<div class="m-l">
														<div class="text-muted">5 minutes ago</div>
														<p>
															<a href="" class="text-info">Jessi</a> commented your
															post.
														</p>
													</div>
												</div>
												<div class="sl-item">
													<div class="m-l">
														<div class="text-muted">11:30</div>
														<p>Join comference</p>
													</div>
												</div>
												<div class="sl-item b-success b-l">
													<div class="m-l">
														<div class="text-muted">10:30</div>
														<p>
															Call to customer <a href="" class="text-info">Jacob</a>
															and discuss the detail.
														</p>
													</div>
												</div>
												<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
													Create tasks for the team</div>
												<div class="sl-item b-primary b-l">
													<div class="m-l">
														<div class="text-muted">Wed, 25 Mar</div>
														<p>
															Finished task <a href="" class="text-info">Testing</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-warning b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 10 Mar</div>
														<p>Trip to the moon</p>
													</div>
												</div>
												<div class="sl-item b-info b-l">
													<div class="m-l">
														<div class="text-muted">Sat, 5 Mar</div>
														<p>Prepare for presentation</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Sun, 11 Feb</div>
														<p>
															<a href="" class="text-info">Jessi</a> assign you a task
															<a href="" class="text-info">Mockup Design</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 17 Jan</div>
														<p>Follow up to close deal</p>
													</div>
												</div>
												<div class="sl-item b-success b-l">
													<div class="m-l">
														<div class="text-muted">10:30</div>
														<p>
															Call to customer <a href="" class="text-info">Jacob</a>
															and discuss the detail.
														</p>
													</div>
												</div>
												<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
													Create tasks for the team</div>
												<div class="sl-item b-primary b-l">
													<div class="m-l">
														<div class="text-muted">Wed, 25 Mar</div>
														<p>
															Finished task <a href="" class="text-info">Testing</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-warning b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 10 Mar</div>
														<p>Trip to the moon</p>
													</div>
												</div>
												<div class="sl-item b-info b-l">
													<div class="m-l">
														<div class="text-muted">Sat, 5 Mar</div>
														<p>Prepare for presentation</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Sun, 11 Feb</div>
														<p>
															<a href="" class="text-info">Jessi</a> assign you a task
															<a href="" class="text-info">Mockup Design</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 17 Jan</div>
														<p>Follow up to close deal</p>
													</div>
												</div>
												<div class="sl-item b-success b-l">
													<div class="m-l">
														<div class="text-muted">10:30</div>
														<p>
															Call to customer <a href="" class="text-info">Jacob</a>
															and discuss the detail.
														</p>
													</div>
												</div>
												<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
													Create tasks for the team</div>
												<div class="sl-item b-primary b-l">
													<div class="m-l">
														<div class="text-muted">Wed, 25 Mar</div>
														<p>
															Finished task <a href="" class="text-info">Testing</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-warning b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 10 Mar</div>
														<p>Trip to the moon</p>
													</div>
												</div>
												<div class="sl-item b-info b-l">
													<div class="m-l">
														<div class="text-muted">Sat, 5 Mar</div>
														<p>Prepare for presentation</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Sun, 11 Feb</div>
														<p>
															<a href="" class="text-info">Jessi</a> assign you a task
															<a href="" class="text-info">Mockup Design</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 17 Jan</div>
														<p>Follow up to close deal</p>
													</div>
												</div>
											</div> <!-- / streamline -->

										</li>
									</ul>




								</div>
							</div>
							<div class="tab-pane" id="tab-2">
								<div class="wrapper-md">
									这是已办的内容
									<ul class="list-group no-bg no-borders pull-in">
										<li class="list-group-item">

											<div class="streamline b-l m-b">
												<div class="sl-item">
													<div class="m-l">
														<div class="text-muted">5 minutes ago</div>
														<p>
															<a href="" class="text-info">Jessi</a> commented your
															post.
														</p>
													</div>
												</div>
												<div class="sl-item">
													<div class="m-l">
														<div class="text-muted">11:30</div>
														<p>Join comference</p>
													</div>
												</div>
												<div class="sl-item b-success b-l">
													<div class="m-l">
														<div class="text-muted">10:30</div>
														<p>
															Call to customer <a href="" class="text-info">Jacob</a>
															and discuss the detail.
														</p>
													</div>
												</div>
												<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
													Create tasks for the team</div>
												<div class="sl-item b-primary b-l">
													<div class="m-l">
														<div class="text-muted">Wed, 25 Mar</div>
														<p>
															Finished task <a href="" class="text-info">Testing</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-warning b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 10 Mar</div>
														<p>Trip to the moon</p>
													</div>
												</div>
												<div class="sl-item b-info b-l">
													<div class="m-l">
														<div class="text-muted">Sat, 5 Mar</div>
														<p>Prepare for presentation</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Sun, 11 Feb</div>
														<p>
															<a href="" class="text-info">Jessi</a> assign you a task
															<a href="" class="text-info">Mockup Design</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 17 Jan</div>
														<p>Follow up to close deal</p>
													</div>
												</div>
												<div class="sl-item b-success b-l">
													<div class="m-l">
														<div class="text-muted">10:30</div>
														<p>
															Call to customer <a href="" class="text-info">Jacob</a>
															and discuss the detail.
														</p>
													</div>
												</div>
												<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
													Create tasks for the team</div>
												<div class="sl-item b-primary b-l">
													<div class="m-l">
														<div class="text-muted">Wed, 25 Mar</div>
														<p>
															Finished task <a href="" class="text-info">Testing</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-warning b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 10 Mar</div>
														<p>Trip to the moon</p>
													</div>
												</div>
												<div class="sl-item b-info b-l">
													<div class="m-l">
														<div class="text-muted">Sat, 5 Mar</div>
														<p>Prepare for presentation</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Sun, 11 Feb</div>
														<p>
															<a href="" class="text-info">Jessi</a> assign you a task
															<a href="" class="text-info">Mockup Design</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 17 Jan</div>
														<p>Follow up to close deal</p>
													</div>
												</div>
												<div class="sl-item b-success b-l">
													<div class="m-l">
														<div class="text-muted">10:30</div>
														<p>
															Call to customer <a href="" class="text-info">Jacob</a>
															and discuss the detail.
														</p>
													</div>
												</div>
												<div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
													Create tasks for the team</div>
												<div class="sl-item b-primary b-l">
													<div class="m-l">
														<div class="text-muted">Wed, 25 Mar</div>
														<p>
															Finished task <a href="" class="text-info">Testing</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-warning b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 10 Mar</div>
														<p>Trip to the moon</p>
													</div>
												</div>
												<div class="sl-item b-info b-l">
													<div class="m-l">
														<div class="text-muted">Sat, 5 Mar</div>
														<p>Prepare for presentation</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Sun, 11 Feb</div>
														<p>
															<a href="" class="text-info">Jessi</a> assign you a task
															<a href="" class="text-info">Mockup Design</a>.
														</p>
													</div>
												</div>
												<div class="sl-item b-l">
													<div class="m-l">
														<div class="text-muted">Thu, 17 Jan</div>
														<p>Follow up to close deal</p>
													</div>
												</div>
											</div> <!-- / streamline -->

										</li>
									</ul>




								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col lter" ui-view></div>

	<div class="col b-l bg-white" ui-view="entity"></div>
</div>
<!-- /hbox layout -->